<div id="{{ cid }}">
	<style>
		#{{ cid }} {
			width: 100px;
			text-align: center;
			margin: 20px;
			padding: 10px;
			border: 1px solid #999;
			border-radius: 10px;
		}

		#{{ cid }} h2 {
			font-size: 30px;
			color: #3366aa;
		}

		#{{ cid }} button {
			cursor: pointer;
			margin-bottom: 5px;
		}
	</style>

	<h2>{{n}}</h2>


	<button hx-get="/dec?cid={{ cid }}" hx-target="#{{ cid }}" hx-swap="outerHTML">
		-
	</button>

	<button hx-get="/inc?cid={{ cid }}" hx-target="#{{ cid }}" hx-swap="outerHTML">
		+
	</button>

	<button hx-get="/reset?cid={{ cid }}" hx-target="#{{ cid }}" hx-swap="outerHTML">
		Clear
	</button>
</div>
